
*.flock
*.cdb
*.cdb
*.hdb
*.cdb
*.cdb
*.kpt
lab1/QuartusFiles_Lab1/db/top_level.map.kpt
*.hdb
*.qmsg
*.bpm
*.rdb
*.qmsg
*.qmsg
*.hier_info
*.bpm
*.kpt
*.qmsg
*.ddb
*.tmw_info
*.rpt
*.vho
*.summary
*.rpt
*.done
*.sci
*.db_info
*.cdb
*.hdb
*.bpm
*.qmsg
*.rdb
*.db_info
*.vho
*.sof
*.summary
